.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        width: 15%;
        height: 10%;
        position: absolute;
        left: 20px;
        top: 10px;
    }
}

.App-header {
    margin-top: 5%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(20px + 2vmin);
    color: black;
    font-weight: bold;

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Tr {
    color: "red"
}
